#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.counter-btn{
  border: none;
  background: none;
  font-size: 25px;
}
.show__results--btn{
  border: 4px solid transparent;
  background: green;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.4s;
}
.show__results--btn:hover{
  color: green;
  background: #fff;
  border: 4px solid green;
}
.clean-btn{
  border: 4px solid transparent;
  background: red;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.4s;
  margin-left: 15px;
}
.clean-btn:hover{
  color: red;
  background: #fff;
  border: 4px solid red;
}